* {
    font-family: 'Franklin Gothic ATF', sans-serif;
    margin: 0;
    padding: 0;
    /* border: dashed; */
}
body{
  overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

/* NAVBAR CSS */

/* color for nav bar svg */
.st0{fill:#2B1F0F;stroke:#2B1F0F;stroke-miterlimit:10;}
	.st1{fill:url(#SVGID_1_);}
	.st2{fill:#314427;}
	.st3{fill:#846172;}
	.st4{fill:#684B5B;}
	.st5{fill:#937082;}
	.st6{fill:#9B6933;}

.logo{
  width:10%;
  display:block;
  margin:0 auto;
  /* background-color:#F8F0E5 ; */
  /* transform-origin: top; */
  margin-top: 2%;
  position: relative;
  /* padding-left: 20%;
  padding-right: 20%; */
  

  }

  .svg-container{
    /* margin-top: 50%; */
    background-color: #F8F0E5;
    
    /* width: 120px; */ 
    /* height: 120px; */

  }


nav{
 /* padding-left: 40%;
  padding-right: 40%; */
  /* TODO: figure out no longer staying fixed */
  width: auto;
  height: 150px;
  /* z-index:100; */
  /* left:0; */
  background-color: #F8F0E5;
  background-size: cover;
  text-align: center;
  display:flex;
  z-index:100;
  /* margin: 0 auto; */
  }

  nav ul {
    margin: auto auto;
    display:flex;
    
  }
  nav li{
    padding: 1em 0;
    list-style-type: none;
    padding: 25px;
    font-size: 1.7em;
  }
  
  nav ul li a {
    color:#7E5C70;
    font-weight: 600;
    opacity: 100%;
    text-decoration: none;
    text-align: center;
    
  }
  
  nav li a:hover {
    color:#8B5524;
    opacity: 1;
    text-decoration: underline;
    
  }
/* link styling */
  a{
    text-decoration: none;
  }
  /* .links{
    width:100%; */
  

  /* HEADER CSS */
/* .header {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color:#FFFDFA;
} */


/* IMAGE GALLERY CSS */
/* .image-gallery {
    height: 100%;
    display: grid;
    margin-left: 10%;
    background-color: #FFFDFA;
    margin-right:10%;
    grid-template-columns: 1fr minmax(350px, 1fr)  minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 200px;
    grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    } */

 
       .image-gallery {
           height: 100%;
           display: grid;
           margin-bottom: 50px;
           margin-left: 10%;
           margin-right: 10%;
           background-color: #FFFDFA;
           grid-template-columns: 1fr minmax(400px, 1fr) minmax(400px, 1fr) 1fr;
           grid-template-rows: auto;
           grid-gap: 15px;
           padding-top: 50px;
           grid-template-areas:
           ". a b ."
           ". c d ."
           ". e f ."
           ;
       }
  

.box-styling {
    height: 400px;
    width: 400px;
    /* background-color: rgb(110, 110, 110); */
}

.box1 {
  font-size: 18pt;
    grid-area: a;
}

.box2 {
  font-size: 18pt;
    grid-area: b;
}

.box3 {
  font-size: 18pt;
    grid-area: c;
}

.box4 {
  font-size: 18pt;
    grid-area: d;
}

/* .box5 {
    grid-area: e;
}

.box6 {
    grid-area: f; 
} */

/* .bigText {
    font-size: 2em;
    padding-right: .5ch;
} */


/* ABOUT ME CSS*/
.about-me {
    /* height: 100vh !important; */
    font-size: 15pt;
    color:#684B5B;
    background-color: #CCB7C4 !important;
    /* padding: 20vh 200px 0 200px; */
    /* column-count: 2; */
    
}
.about-me-wrapper{
  padding-top:4%;
  padding-bottom:4%;
  margin-left:26%;
  margin-right:26%;

}
h3 {
  font-size: 24pt;
  margin-bottom: 20pt;
  margin-top: 15pt;
}

/* resume button*/

.wrapper {
  display: grid;
  grid-template-columns: [main-start] 1fr [content-start] 0.5fr [content-end] 1fr [main-end];
  grid-template-rows: [main-start] 50px [content-start] 100px [content-end] 50px [main-end];
  width: 600pt;
  height: 130pt;
  margin-left: -242pt;
  margin-bottom: 0pt;
  
  

}
.thing {
  grid-area: content;
  text-align: center;
  padding-top: 25pt;
  padding-bottom: 50pt;
  background-color:#F8F0E5;
  font-size: 20pt;
  color: #8B5524;
  border-radius: 10px;
  

}


/* CONTACT CSS */
.contact {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40vh !important;
    padding-bottom: 50vh;
    background-color:#F1E4D9;
    grid-template-columns: 3fr minmax(2fr, 1fr) minmax(2fr, 1fr) 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". title title ."
    ". wrapper wrapper ."
    ;
}

.contact-title {
    font-size: 28pt;
    grid-area: title;
    padding-bottom: 50px;
    margin-top: 70px;
    color: #2F140C;
  

}

.icon-container{
  display:grid;
  grid-template-columns: .9fr 2fr;
  grid-template-rows: auto;
  /* width:60%; 
  height:130%; */
  gap: 50px;
  /* margin-top: 100%; */
  /* margin-left: -75%; */
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  margin-top:75px;
  font-size: 24px;
  color: #684B5B;

  }

  .icon{
    scale: 5%;
  }


.logo-svg {
    width: 400px;
    grid-area: logo;
}

.contact-wrapper {
    grid-area: wrapper;

}


   /* footer section */
   footer{
    grid-area:footer;
    height: 2vh
  }
  footer p{
    font-size:2em;
  }
  footer li {
    display:inline;
  }
  footer ul {
    max-width: 640px;
    margin: 2em auto;
    padding:0;
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  footer ul li{
    list-style: none;
    align-self:flex-end;
  }
  footer ul li a {
    text-decoration:none;
    color: black;
    opacity:.6;
    transition: .3s;
  }
  footer ul li a:hover {
    text-decoration:none;
    color:white;
  }
  footer svg {
    width:20%;
  }
  footer p{
    font-size: 1em;
  }


  /* MEDIA QUERY FOR SMALL SCREENS
 @media (max-width:1100px){
    .image-gallery {
        margin-bottom: 800px;
        margin-left: 10%;
        margin-right: 10%;
        grid-template-columns: 1fr minmax(350px, 1fr) minmax(350px, 1fr) 1fr;
        grid-template-areas:
        ". a b ."
        ". c d ."
        ". e f ."
        ;
    }
 } */

/* MEDIA QUERY FOR MOBILE */
 @media (max-width:1000px){
     nav{
         padding-left: 0;
         padding-right: 0;

     }
     svg{
       width: 100%;
       
     }

     .logo{
      width:18%;
      display:block;
      margin:0 auto;
      position: relative;
      
    
      }

    .image-gallery {
        padding-bottom: 0%;
        padding-left: 0;
        padding-right: 0;
        position: center;
        grid-template-columns: 1fr minmax(400px, 1fr) 1fr;
        grid-template-areas:
        ".a."
        ".b."
        ".c."
        ".d."
        ".e."
        ".f."
        ;
    }

    .about-me{
      font-size: 15pt;
      color:#684B5B;
      background-color: #CCB7C4
    }

    .about-me-wrapper{
      padding-top:4%;
      padding-bottom:4%;
      margin-left:5%;
      margin-right:5%;
    
    }
    h3 {
      font-size: 24pt;
      margin-bottom: 20pt;
      margin-top: 15pt;
    }


    .contact {
        /* padding-bottom: 200%; */
        grid-template-columns: 3fr minmax(2fr, 1fr) 3fr;
        grid-template-rows: auto;
        padding-left:5%;
        padding-right:5%;
        grid-template-areas:
        ". title ."
        /* ". logo ." */
        ". wrapper ."
        ;
    }

    .icon-container{
      display:grid;
      grid-template-columns: .5fr 2fr;
      grid-template-rows: auto;
      margin-left: 15%;
      margin-right: 10%;
    }

    h4{
      margin-bottom: -50px;
    }

    .project-type{
      font-size: 16pt;
      margin-bottom: 75pt;
      margin-top: 0;
      padding-top:5%;
      margin-left: 5%;
      margin-right: 5%;
      color:#684B5B;
    
 }
 .project-styling {
  height: 625px;
  width: 625px;
  
  
}

 } 

